<config>
  <!--
    This is a sample XML configuration file for the Folding@home
    console client.  This configuration file format is explained
    in detail in the Client User's Guide.

    Copy this file to 'config.xml' and edit.

    To set your user name, team and passkey just edit the text
    in quotes below.
  -->

  <!-- User Information -->
  <user value="dun-computin"/> <!-- Enter your user name here -->
  <team value="45032"/>         <!-- Your team number -->
  <passkey value="9b31e4ed2ad7ea53669c74f941b7acd3"/>       <!-- 32 hexadecimal characters if provided -->

  <smp value="true"/>       <!-- If true, attempt to autoconfigure SMP -->
  <gpu value="false"/>       <!-- If true, attempt to autoconfigure GPUs -->

  <!-- Folding Slots -->
  <!--
    No folding slot configuration is necessary.  The client will
    automaticlaly choose a good configuration for you.  However, here
    are some examples:
  
      <slot id="0" type="Uniprocessor"/>

        or

          <slot id="0" type="Uniprocessor"/>
          <slot id="1" type="Uniprocessor"/>
    
        or
    
          <slot id="0" type="Uniprocessor"/>
          <slot id="1" type="GPU"/>
    
        or
    
          <slot id="0" type="SMP"/>
          <slot id="1" type="GPU"/>

    All slots in a configuration MUST have unique ids.
   -->
</config>
